@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply select-none;
	}
	input {
		@apply outline-none;
	}
}

@layer utilities {
	.animate-popup {
		animation-name: popup;
		animation-duration: 2000ms;
		animation-timing-function: ease-out;
	}
}

@keyframes popup {
	0% {
		transform: translate(-50%, 4rem); 
		opacity: 0;
	}
	35% {
		transform: translate(-50%, 0rem); 
		opacity: 0.75;
	}
	75% {
		transform: translate(-50%, 0rem); 
		opacity: 0.75;
	}
	100% {
		transform: translate(-50%, 0rem);
		opacity: 0;
	}
}